* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html {
    scroll-behavior:smooth;
    
  }

@font-face {
    font-family: Frozen;
    src: url(Fonts/Autography.otf);
    
}
  

h2 {
    font-size: 40px;
    letter-spacing: 10px;
}

h3 {
    font-size: 25px;
    letter-spacing: 5px;
}

h4 {
    font-size: 25px;
}

p {
    font-size: 18px;
}



/*----------------------------Header med innehåll ------------------------*/
/*----------------------------Header ------------------------*/

#home  {
    background-image:/* linear-gradient(rgba(0, 0, 0, 0.514), rgba(0, 0, 0, 0.8)), */ url("img/header.jpg");
    background-repeat: no-repeat;
    background-blend-mode: saturation; 
    background-position: top;
    background-size: cover; 
    background-color: rgba(0, 0, 0, 0.479);
    max-height: 100%;
    width: 100%;     
    height: 100vh; 
}

/*----------------------------  Text header  ------------------------*/

.bannerText {
    position: absolute;
    left: 10%;
    top: 50%;
    color: rgb(255, 255, 255);
    font-size: 45px;
    font-family: "Montserrat", Arial, serif;
    font-weight: 800;
    letter-spacing: 10px;
}

/*----------------------------  Nav i header ------------------------*/

nav {
    display: flex;
    position: fixed;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    z-index: 2;
    background-color: rgb(255, 255, 255);
    height: 70px;
}

nav a {
    color: rgba(0, 0, 0, 0.562);
    text-decoration: none; 
    padding: 20px;
    font-size: 16px;
    font-family: "Montserrat", Arial, serif;
    letter-spacing: 3px;
}

nav h1 {
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-family: Frozen;
    margin-left: 20px; 
}

nav a:hover {
    color: black;
    transition: 1s;
    background-color: rgba(0, 0, 0, 0.062);
    border-radius: 50%;
}




/*----------------------------  SECTIONS!  ------------------------*/

/*--------------------------Vem är jag? ----------------*/
.sectionbg {
    background-color: rgba(197, 165, 165, 0.103);
    
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 100px 5% 0 5%;
    justify-content:space-around; 
}



.column1 {
    width: 100%;
    text-align: center;
    padding-bottom: 50px;
}

.column2 {
    max-width: 400px;
    flex-wrap: wrap;
    margin: 0 10px 30px 10px;
    font-size: 20px;
}

.column2 li {
    padding: 8px ;
    
}



/*---------------------------- CV - timeline  ------------------------*/

.bgcolor {
    background-color: rgba(80, 78, 78, 0.075);
    padding-top: 90px;
}

.timeline {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 4%;
    
}

.contentbox {
    display: flex;
    width: 100%;
}

.content {
    text-align: center;
    margin-bottom: 40px;
}

.right { 
    justify-content: flex-end; 
}


/* -------imgTimeline-------- */

.timeline img {
    width: 400px;
    height: 400px;
    
}


/*----line ----*/

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: rgb(180, 165, 165);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }





  /*----------------------Referenser-----------------------------*/

.refbox {
    display: flex;
    justify-content: space-between;
    text-align: center;
    
}

.refItem {
    display: flex;
    flex-direction: column;
    font-size: 40px;
    width: 33%;
    padding: 4%;
}

.refItem i {
    padding-bottom: 10%;
    color: rgba(37, 37, 24, 0.623);
}




/*----------------------Fotter-----------------------------*/
footer {
    text-align: center;
    font-size: 40px;
    padding: 30px 0;
    background-color: rgba(197, 165, 165, 0.103);
    
}


.footerItem a {
    padding: 10px 10px;
    
    
}

.footerItem i {
    color: rgba(37, 37, 24, 0.781);
}


/*---------------------- HTML CONTACT -----------------------------*/
/*---------------------- Ändringar -----------------------------*/

/* header ID*/
#contact {
    background-image: url("img/post-it-notes.jpg");
    background-repeat: no-repeat;
    background-blend-mode: saturation; 
    background-position: top;
    background-size: cover; 
    background-color: rgba(0, 0, 0, 0.479);
    max-height: 100%;
    width: 100%;      
    height: 100vh;
}

/* contact form */
 input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: rgba(88, 87, 68, 0.938);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: rgba(88, 87, 68, 0.808);
  }
  
  .form {
    border-radius: 5px;
    background-color: rgb(242, 242, 242);
    padding: 20px;
  }

  .flex {
      margin: 15px 10%;
  }



/*----------------------media Q -----------------------------*/

  
@media only screen and (max-width: 650px) {
    .Qtext {font-size: 36px;}
    .column2 img {width: 250px;}
    header nav {padding-top: 4px;}
    .timeline::after {display: none;}
    .contentbox::after {display: none;}
    .contentbox { justify-content: center;}
    .right { justify-content: center; }

  
}

@media only screen and (max-width: 900px){
    .timeline img { width: 300px; height: 300px;}
    nav a { font-size: 10px; justify-content: flex-end; display: flex; padding: 0; }
    h2 {font-size: 25px; letter-spacing: 10px;}
    h3 {font-size: 20px; letter-spacing: 5px;}
    h4 {font-size: 18px;}
    p {font-size: 14px;}    
}



@media only screen and (min-width: 1300px) {
    .contentbox { margin: 0 15%;}
}
